@using System.Collections.ObjectModel
@using Fracture.Server.Modules.Items.Models
@using Fracture.Server.Modules.Users.Services
@rendermode InteractiveServer
@inject UserService UserService

<table class="equipmentTable">
	<tr>
		@for (var i = 0; i < 3; i++)
		{
			if (i < UserService.Equipment.Count)
			{
				<td>
					<div class="@ToCss(UserService.Equipment[i].Name)">@UserService.Equipment[i].Name</div>
				</td>
			}
			else
			{
				<td></td>
			}
		}
	</tr>

	<tr>
		@for (var i = 3; i < 6; i++)
		{
			if (i < UserService.Equipment.Count)
			{
				<td>
					<div class="@ToCss(UserService.Equipment[i].Name)">@UserService.Equipment[i].Name</div>
				</td>
			}
			else
			{
				<td></td>
			}
		}
	</tr>


</table>

@code {	

	protected override void OnInitialized()
	{
		UserService.Equipment.CollectionChanged += (sender, e) => StateHasChanged();
	}

	private string ToCss(string name)
	{
		var css = name.Split(' ').Select(x => "item-" + x.ToLower());
		return string.Join(" ", css);
	}

}
