@using Fracture.Server.Modules.Items.Models

<table>
    @foreach (var itemStat in Enum.GetValues<ItemStat>())
    {
        <tr><td class="stat-value-right-align">@itemStat</td><td class="stat-value">@Item.Statistics.GetStatFromItemStat(itemStat)</td></tr>
    }
</table>

@code {
    [Parameter] public Item Item { get; set; } = null!;
}