@using Fracture.Server.Modules.Items.Models

<div class="stat-table" style="font-size: 1.2rem;">
    @foreach (var itemStat in Enum.GetValues<ItemStat>())
    {
        <div class="stat-row">
            <div class="stat-name">@itemStat</div>
            <div class="stat-value">@Item.Statistics.GetStatFromItemStat(itemStat)</div>
        </div>
    }
</div>

@code {
    [Parameter] public Item Item { get; set; } = null!;
}