@rendermode InteractiveServer

<div class="popup @(IsVisible? "" : "hidden")">
    <div class="closeButton">
        <button @onclick="() => IsVisible = false">X</button>
    </div>
    @if (_componentType is not null)
    {
        <DynamicComponent Type="@_componentType" Parameters="@_parameters" />
    }

</div>

@code {
    public bool IsVisible { get; set; }

    public void ShowComponent<T>(IDictionary<string, object>? parameters = null)
    {
        _componentType = typeof(T);
        _parameters = parameters;

        IsVisible = true;
        StateHasChanged();
    }

    private Type? _componentType = null;
    private IDictionary<string, object>? _parameters;
}