@using Fracture.Server.Modules.Items.Models
@using System.Collections.ObjectModel

<table class="table">
    @foreach (var itemStat in Enum.GetValues<ItemStat>())
    {
        var stat = Equipment.Sum(x => x.Statistics.GetStatFromItemStat(itemStat));
        var color = "";
        @if (stat <= 0)
            color = "text-danger";

        <tr><td>@itemStat</td><td class="@color text-end">@stat</td></tr>
    }
</table>

@code {

    [Parameter] public required ObservableCollection<Item> Equipment { get; set; }

    protected override void OnInitialized()
    {
        Equipment.CollectionChanged += (sender, e) => StateHasChanged();
    }
}
