@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

html {
    height: 100%;
}
*{
    font-family: "Courier", sans-serif;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #353535;
    overflow: hidden;
    color: white;
    font-weight: bold;
    font-family: "Courier", sans-serif;
    /*background-size: 150% 150%;*/
    /*background-image: linear-gradient(45deg,#4c4c4c,#070707);*/
    background-image: url("../assets/background/panelbg1.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 125%;
    backdrop-filter: blur(3px);
    
    /*-webkit-animation: AnimateBG 10s ease infinite;*/
    /*animation: AnimateBG 10s ease infinite;*/
}

/*@-webkit-keyframes AnimateBG {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/

/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/

/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/

/*@keyframes AnimateBG {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/

/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/

/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.leftPanel {
    height: 100vh;
    width: 25%;
}

.midPanel {
    height: 100vh;
    width: 50%;
    background-color: #ffffff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.2em;
}

.rightPanel {
    height: 100vh;
    width: 25%;
}

/*.borderPanel {*/
/*    border: solid 2.5px rgb(0, 0, 0);*/
/*}*/

.crystalBox {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row;
    height: 20%;
    /*background: radial-gradient(circle, rgba(155,99,255,1) 0%, rgba(41,65,79,1) 100%);*/
}

.actionButton {
    background-color: rgba(25, 25, 25,1);
    border-radius: 0.75em;
    cursor: pointer;
    height: 60%;
    width: 100px;
    position: relative;
}

.info {
    background-color: rgba(25, 25, 25,1);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
}

.logButton{
    background-color: rgba(25, 25, 25,1);
    width: 12rem;
    height: 2.5rem;
    margin: 5px;
    border-radius: 10px;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    /*padding-top: 5px;*/
    line-height: 150px;
    text-transform: uppercase;
    line-height: 2.5rem;
    color: white;
    font-weight: bold;
}

.settingsBtn {
    background-color: rgba(25, 25, 25,1);
    width: 30%;
    height: 70%;
    margin: 5px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.crystalCircle {
    padding: 5px;
    z-index: 1;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #cc7afc,0 0 25px #b27afc;
}


.crystal {
    height: 80px;
    width: 40px;
    border-radius: 100%;
    transition: 1s ease-in-out;
    box-shadow: 0 0 5px #cc7afc,0 0 25px #b27afc,0 0 50px #b27afc;
    animation: glow 10s alternate infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crystal img {
    height: 100px;
    transition: 1s ease-in-out;
    user-select: none;

}


@keyframes glow {
    from {
        box-shadow: 0 0 5px #cc7afc,0 0 15px #b27afc, 0 0 35px #b27afc;
    }

    to {
        box-shadow: 0 0 5px #7ab9fc,0 0 25px #7ad1fc, 0 0 35px #7ad1fc, 0 0 50px #7ad1fc;
    }
}



.dialogueWindowBg {
    border: 5px solid black;
    background-size: cover; 
    height: 90%; 
    width: 100%;
    background-repeat: no-repeat;
}

.dialogueWindow {
    color: white;
    height: 100%;
    background-size: cover;
    backdrop-filter: blur(2px) brightness(60%);
    width: 100%;
}

.map {
    visibility: hidden;
}

.eqManager {
    display: none;
}

.hidden {
    visibility: hidden;
}

.popup {
    top: var(--popup-padding);
    left: var(--popup-padding);
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: calc(100% - (var(--popup-padding) * 2));
    height: calc(100% - (var(--popup-padding) * 2));
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}

.statManager {
    visibility: hidden;
}

.journal {
    height: 45%;
    /*background-color: #353535;*/
    position: relative;
    display: flex;
}

.journalPage {
    display: inline-block;
    width: 70%;
    height: 80%;
    margin: auto auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 1em;
    line-height: 1em;
    color: #000;
    background: rgb(252, 254, 230);
    border: solid 5px rgb(0, 0, 0);
    overflow: auto;
    text-align: justify;
    scrollbar-color: rgb(0, 0, 0) rgba(0,0,0,0);
    scrollbar-width: auto;
    scrollbar-arrow-color: black;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    box-shadow: 0px 0px 10px #000;
}


    .journalPage span {
        font-size: 1.1em;
        font-weight: bolder;
    }

.miniMap {
    height: 45%;
    /*background-color: #272626;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: #000 solid 2px;
    /*border-bottom: #000 solid 2px;*/
    
}

.miniMapTable, .mapTable {
    /*border: #000 1px solid;*/
    border-collapse: collapse;
    box-shadow: 0px 0px 10px #000;
}

.miniMapTable tr td, .mapTable tr td {
    /*border: #000 1px solid;*/
    background-color: blue;
}

.miniMapTable tr td {
    width: 2px;
    height: 2px;
}

.mapTable tr td {
    width: 5px;
    height: 5px;
}

.settings {
    height: 10%;
    /*background-color: #353535;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
.map{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.mapTable{
    margin-top: 5px
    
}


.stats {
    height: 45%;
    /*background-color: #353535;*/
    /*!*background-color: #1c2833;*!*/
    /*background-image: url("../assets/panelbg1.webp");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-shrink: 4; */
    font-size: 1.1em;
}

.statObject {
    width: 80%;
    /* height: 21%; */
    display: flex;
    align-items: center;
}

    .statObject span {
        padding-left: 5px;
    }

.equipment {
    height: 55%;
    /*background-color: #272626;*/
    /*background-image: url("../assets/panelbg1.webp");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    position: relative;
    border-top: #000 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.equipmentTable {
    border: #000 3px solid;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px #000;
}

.equipmentTable tr td {
    border: #000 3px solid;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,25,0.7);
    
}

    .equipmentTable tr td:hover {
        background-color: rgba(0,0,25,0.7);
    }
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 98%;
    
    
    
}

.row div {
    display: flex;
    justify-content: space-between;
    
}
.item-stats{
    text-align: justify;
}
.body-buttons{
    display: flex;
    flex-direction: column;
    margin: 5px;

    
}
.body-buttons button{
    height: 40%;
    margin: 5px;
}

.equipmentContent {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
}
.itemButton{
    height: 4rem;
    width: 4.5rem;
    font-size: 0.8rem;
    
}
.eqColumn {
    overflow-y: hidden;
    text-align: justify;
    scrollbar-color: rgb(0, 0, 0) rgba(0,0,0,0);
    scrollbar-width: auto;
    scrollbar-arrow-color: black;
    /*scroll-snap-type: y mandatory;*/
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    
   
}


.card{

    /*height: 200px;*/
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card-header,.card-body, .item-card{
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    height: 150px;
    width: 150px; 
    text-align: center;
}
.card-header{
    display: flex;
    flex-direction: column;
}
.card-body{
    
}
.item-card{
    height: 100px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
    
}
.stat-value-right-align{
    text-align: right;
}

.item-card:hover{
    opacity: 1;
}
.item-name{
    height: 10%;
    
}
.card-body>.item-card{
    opacity: 1;
}
.stat-table{
    font-size: 1.5rem;
}
.stat-table tr td{
    filter: drop-shadow(3px 4px 2px black);
}

.closeBtn{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0,1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: auto;
}

    .closeBtn:hover {
        background-color: rgb(255,0,0);
        box-shadow: 0 0 5px red, 0 0 15px red, 0 0 25px red;
    }


.actionButton:hover:before, .info:hover:before, .settingsBtn:hover:before{
    opacity: 1;
}

.actionButton:before, .info:before, .settingsBtn:before{
    background: linear-gradient( 45deg, transparent 5%, rgb(255, 215, 137) 50%, transparent 99% );
    border-radius: inherit;
    content: "";
    inset: 0px;
    opacity: 0;
    position: absolute;
    transition: 0.4s;
    z-index: 0;
}


.actionButton-content, .info-content, .settingsBtn-content{
    background-color: #191919;
    border-radius: inherit;
    inset: 1px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    
}


:root {
    --rarity-common: #808080;
    --rarity-uncommon: #8ef059;
    --rarity-rare: #5963f0;
    --rarity-insane: #f54c40;
    --rarity-epic: #b423f7;
    --rarity-legendary: gold;
    --popup-padding: 10px;
    --row-padding: 5px;
}
h3{
    width: 70%;
}