html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

* {
    color: white;
    text-shadow: 0px 0px 5px black;
}

.sidebar-container {
    flex: 0.2;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.text-container {
    position: relative;
    flex: 0.6;
    background-color: black;
}

.stats-flex {
    flex: 0.4;
    background-color: blue;
}

.equipment-flex {
    flex: 0.6;
    background-color: maroon;
}

.journal-flex {
    flex: 0.6;
    background-color: green;
}

.map-flex {
    flex: 0.3;
    background-color: pink;
}

.button-container-flex {
    flex: 0.1;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: absolute;
    width: calc(100% - (var(--popup-padding) * 2));
    height: calc(100% - (var(--popup-padding) * 2));
    background-color: rgba(255, 0, 0, 0.3);
    top: var(--popup-padding);
    left: var(--popup-padding);
}

.hidden {
    display: none;
}

:root {
    --rarity-common: #808080;
    --rarity-uncommon: #8ef059;
    --rarity-rare: #5963f0;
    --rarity-insane: #f54c40;
    --rarity-epic: #b423f7;
    --rarity-legendary: gold;
    
    --popup-padding: 10px;
}