@using Fracture.Server.Modules.MapGenerator.Models.Map

<div class="node-info">
    <span>Biome: @Node.Biome.Name</span>
    @if (!string.IsNullOrWhiteSpace(Node.GroupName)) 
    {
        <span>Location: @Node.GroupName</span>
    }
    @if (!Node.Walkable)
    {
        <span>Not walkable!</span>
    }
</div>

@code {
    [Parameter] public required Node Node { get; set; }
}