@using Fracture.Server.Modules.NoiseGenerator.Models
<div id="content">
    <div class="mb-3">
        <input id="useRandomSeed" name="useRandomSeed" type="checkbox" @bind="NoiseParameters.UseRandomSeed" @oninput="OnNoiseParametersChanged" />
        <label for="useRandomSeed">Use random seed</label>
        @if (!NoiseParameters.UseRandomSeed)
        {
            <br />
            <label for="seed">Seed: </label>
            <input id="seed" type="number" @bind="NoiseParameters.Seed" @oninput="OnNoiseParametersChanged" />
        }
    </div>
</div>

@code {
    [Parameter]
    public NoiseParameters NoiseParameters { get; set; }
    [Parameter]
    public EventCallback<NoiseParameters> NoiseParametersChanged { get; set; }

    private Task OnNoiseParametersChanged(ChangeEventArgs e)
    {
        return NoiseParametersChanged.InvokeAsync(NoiseParameters);
    }
}
