@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<div class="my-5">
    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Counter</span></h2>
    <p role="status">Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
