<footer class="bg-primary py-4 mt-auto">
	<div class="container px-5">
		<div class="row align-items-center justify-content-between flex-column flex-sm-row">
			<div class="col-auto">
				<div class="small m-0">Copyright &copy; pollub.net 2023</div>
			</div>
			<div class="col-auto">
				<NavLink class="small" href="">Privacy</NavLink>
				<span class="mx-1">&middot;</span>
				<NavLink class="small" href="">Terms</NavLink>
				<span class="mx-1">&middot;</span>
				<NavLink class="small" href="">Contact</NavLink>
				<span class="mx-1">&middot;</span>
				<NavLink class="small" href="https://github.com/pollubnet/fracture">GitHub</NavLink>
			</div>
		</div>
	</div>
</footer>