@using Fracture.Server.Modules.Shared
@inherits LayoutComponentBase
@inject VersionInfoProvider VersionInfoProvider

<HeadContent>
    <link rel="stylesheet" href="css/game.css">
    <link rel="stylesheet" href="css/items.css">
    <meta name="generator" content="Fracture @VersionInfoProvider.ShortVersion">
</HeadContent>

@Body

@* <div id="blazor-error-ui">
An unhandled error has occurred.
<a href="" class="reload">Reload</a>
<a class="dismiss">🗙</a>
</div> *@



@code {

}
