@inherits LayoutComponentBase

<HeadContent>
    <link rel="stylesheet" href="css/game.css">
    <link rel="stylesheet" href="css/items.css">
</HeadContent>

@Body

@* <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@



@code {

}
