@page "/game"
@using Fracture.Server.Components.Layout
@using Fracture.Server.Components.UI
@using ItemGeneratorModels

@layout GameLayout

<div id="container">
	<div class="sidebar-container">
		<div class="stats-flex">
			STATYSTYKI
			<UserStats Equipment="equipment"></UserStats>
		</div>
		<div class="equipment-flex">
			EKWIPUNEK

			Siatka aktualnie założonych
			+ ostatnio zdobyte
		</div>
	</div>
	<div class="text-container">
		TEKST
	</div>
	<div class="sidebar-container">
		<div class="journal-flex">
			JOURNAL
		</div>
		<div class="map-flex">
			MINIMAPA
		</div>
		<div class="button-container-flex">
			<div class="action-button">
				1
			</div>
			<div class="action-button">
				2
			</div>
			<div class="action-button">
				3
			</div>
			<div class="action-button">
				4
			</div>
		</div>
	</div>
</div>


@code {
	private List<Item> equipment = new();
}
