@page "/"
@page "/home"

@rendermode InteractiveServer

@using Fracture.Server.Components.Layout
@using Fracture.Server.Modules.Items.Models
@using Fracture.Server.Components.Popups
@using System.Collections.ObjectModel
@using Fracture.Server.Modules.Database
@using Fracture.Server.Modules.Users
@using Fracture.Server.Components.UI
@using Microsoft.AspNetCore.Mvc

@layout HomeLayout
@inject IUsersRepository UsersRepository
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

<link rel="icon" type="image/png" href="assets/icons/favicon.png"/>

<div id="container">
    
    <div class="title">
        <img class="titleImg" src="assets/background/title.svg"/>
    </div>
    <div class="crystalCircle">
        <div class="crystal">
            <img src="assets/icons/crystal.png" alt="">
        </div>
    </div>
    <div class="login-box">
        <div class="login">
            
            <div class="data-box">
                <input type="text" @bind="_username" onkeyup="@Enter" required="required"/>
                <label>Login</label>
            </div>
            <div class="data-box">
                <input type="password" @bind="_username" onkeyup="@Enter" required="required"/>
                <label>password</label>
            </div>
            <div class="data-box">
                <div @onclick="HandleUserLogin" class="logButton">
                    <div class="logButton-content">Sign in</div></div>
            </div>
            
        </div>
    </div>

  
</div>



<script >
    
</script>


@code {
    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await HandleUserLogin();
        }
    }

    private string _username = String.Empty;
    
    

    private async Task HandleUserLogin()
    {
        if (_username != String.Empty)
        {
            await ProtectedSessionStore.SetAsync("username", _username);
            NavigationManager.NavigateTo($"/game");
        }
        
    }
}

