@page "/"
@page "/home"

@rendermode InteractiveServer

@using Fracture.Server.Components.Layout
@using Fracture.Server.Modules.Items.Models
@using Fracture.Server.Components.Popups
@using System.Collections.ObjectModel
@using Fracture.Server.Modules.Database
@using Fracture.Server.Modules.Users
@using Fracture.Server.Components.UI
@using Microsoft.AspNetCore.Mvc

@layout GameLayout
@inject IUsersRepository UsersRepository
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

<div id="container">    
    <div class="login">
        LOGIN
        <br>
        <input type="text" @bind="_username" onkeyup="@Enter" />
        <br>
        <button @onclick="HandleUserLogin">Login or create account</button>
    </div>
</div>

@code {
    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await HandleUserLogin();
        }
    }

    private string _username = String.Empty;

    private async Task HandleUserLogin()
    {
        await ProtectedSessionStore.SetAsync("username", _username);
        NavigationManager.NavigateTo($"/game");
    }
}
