@inject NavigationManager NavigationManager
@inject MovementService MovementService

@page "/map"
@using Fracture.Server.Modules.MapGenerator.Models.Map
@using Fracture.Server.Modules.MapGenerator.UI
@using Fracture.Server.Modules.MapGenerator.UI.Models
@using Fracture.Server.Modules.Users.Services


<div class="row">
    <MapView Map="MovementService.CurrentMap" MapDisplayOptions="MapDisplayData" Path="null" IsMiniMap="false"></MapView>
</div>

@code {    
    [Parameter] public required MapDisplayOptions MapDisplayData { get; set; }    
}