@inject NavigationManager NavigationManager

@page "/map"
@using Fracture.Server.Modules.MapGenerator.Models.Map
@using Fracture.Server.Modules.MapGenerator.UI
@using Fracture.Server.Modules.MapGenerator.UI.Models

<div class="row">
    <MapView Map="Map" MapDisplayData="MapDisplayData" Path="null" IsMiniMap="false" CharacterX="x"
             CharacterY="y"></MapView>
</div>

@code {
    [Parameter] public required Map Map { get; set; }
    [Parameter] public required MapDisplayData MapDisplayData { get; set; }
    readonly int x = MapView.CharacterXX;
    readonly int y = MapView.CharacterYY;
}