name: Validate PR
on:
  pull_request:
    branches: [ main ]
jobs:
  checks:
    runs-on: ubuntu-latest
    name: Checks
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Check Formatting
      run: |
          dotnet tool restore
          dotnet csharpier check .

    - name: Restore Dependencies
      run: dotnet restore Fracture.sln

    - name: Build
      run: dotnet build --no-restore Fracture.sln

    - name: Find secrets
      uses: trufflesecurity/trufflehog@main
      with:
        path: ./
        base: ${{ github.event.repository.default_branch }}
        head: HEAD
        